.contact {
    height: 90vh;
    padding: 60px;
    background: #c8b8db;
    box-shadow: 0px -22px 14px 7px #c8b8db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact p {
    font-size: 2rem;
    text-align: center;
}


.contact div {
    margin: 30px 0 30px 0;
    font-size: 3rem;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.contact a {
    color: #000524;
}

.contact a:hover {
    transform: scale(1.3);
}


/* mobile*/
@media (max-width: 30rem) {
    .contact h1 {
        font-size: 2.5rem;
    }

    .contact p {
        font-size: 1.5rem;
    }
}